@model IEnumerable<RanchProject.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Employee List</h1>
<br />
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |                
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
